<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [18]:
# your code goes here

num_duplicate_rows = df.duplicated().sum()
print("The number of duplicated rows is {} rows".format(num_duplicate_rows))

df["Respondent"].duplicated().sum()

#df.duplicated(subset=["Respondent"], keep= True).sum()

The number of duplicated rows is 154 rows

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [25]:
# your code goes here

df.drop_duplicates(inplace=True)
df.shape

df["Respondent"].unique().shape

(11398,)

Verify if duplicates were actually dropped.

In [20]:
# your code goes here
print("The number of duplicated rows is {} rows".format(num_duplicate_rows))

The number of duplicated rows is 154 rows

## Finding Missing values

Find the missing values for all columns.

In [28]:
# your code goes here
#df.info()
x = pd.DataFrame(df.isna().sum())
x.reset_index(inplace=True)
x.columns =["Column Name","Number of missing values"]
x[x["Column Name"] == "Country"]

  Column Name  Number of missing values
6     Country                         0

Find out how many rows are missing in the column 'WorkLoc'

In [93]:
# your code goes here
y = x[x['Column Name'] == "WorkLoc"]
y.reset_index(drop=True, inplace=True)
print("The number of rows which have missing in the column 'WorkLoc' is {} ".format(y.iloc[0,1]))

The number of rows which have missing in the column 'WorkLoc' is 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [30]:
# your code goes here

N = pd.DataFrame(df["WorkLoc"].value_counts())
print("The value counts for the column WorkLoc as below: ",N)

The value counts for the column WorkLoc as below:                                                      UndergradMajor
Computer science, computer engineering, or soft...            6953
Information systems, information technology, or...             794
Another engineering discipline (ex. civil, elec...             759
Web development or web design                                  410
A natural science (ex. biology, chemistry, phys...             403
Mathematics or statistics                                      372
A business discipline (ex. accounting, finance,...             244
A social science (ex. anthropology, psychology,...             210
A humanities discipline (ex. literature, histor...             207
Fine arts or performing arts (ex. graphic desig...             161
I never declared a major                                       124
A health science (ex. nursing, pharmacy, radiol...              24

Identify the value that is most frequent (majority) in the WorkLoc column.

In [107]:
#make a note of the majority value here, for future reference
Most_freq_value = df["WorkLoc"].value_counts().idxmax()
Most_freq_value

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [110]:
# your code goes here

df["WorkLoc"].replace(np.nan,Most_freq_value,inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [112]:
# your code goes here
df["WorkLoc"].isna().sum()
print("After replaceing missing values with 'Most_freq_value', the number of missing is :",df["WorkLoc"].isna().sum())

After replaceing missing values with 'Most_freq_value', the number of missing is : 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [36]:
# your code goes here
print("All categories with their occurrences :\n",df["CompFreq"].value_counts())

# another solution using unique

unique_categories = df['CompFreq'].unique()
for category in unique_categories:
    print(category)

All categories with their occurrences :
 Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64
Yearly
Monthly
Weekly
nan

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [41]:
# your code goes here

df["NormalizedAnnualCompensation"] = df["CompTotal"]

if df["CompFreq"] is "Yearly":
    df["NormalizedAnnualCompensation"] = df["CompTotal"]
elif df["CompFreq"] is "Monthly":
    df["NormalizedAnnualCompensation"] = df["CompTotal"]*12
elif df["CompFreq"] is "Weekly":
    df["NormalizedAnnualCompensation"] = df["CompTotal"]*52
else:
    df["NormalizedAnnualCompensation"] = df["CompTotal"]

In [44]:
df["NormalizedAnnualCompensation"].head(10)

0     61000.0
1    138000.0
2     90000.0
3     29000.0
4     90000.0
5      9500.0
6      3000.0
7    103000.0
8     69000.0
9      8000.0
Name: NormalizedAnnualCompensation, dtype: float64

In [47]:
df["NormalizedAnnualCompensation"] = df["CompTotal"]

# Use == for comparison, not is
# Use df.loc to access specific rows based on conditions
# Correct the last else statement to handle missing or unexpected values
# Multiply by appropriate conversion factors based on CompFreq
# Use loc to access specific rows based on conditions

# Handle "Yearly" frequency
df.loc[df["CompFreq"] == "Yearly", "NormalizedAnnualCompensation"] = df["CompTotal"]

# Handle "Monthly" frequency
df.loc[df["CompFreq"] == "Monthly", "NormalizedAnnualCompensation"] = df["CompTotal"] * 12

# Handle "Weekly" frequency
df.loc[df["CompFreq"] == "Weekly", "NormalizedAnnualCompensation"] = df["CompTotal"] * 52

# Handle other cases or missing values (assuming they should be considered yearly)
df.loc[~df["CompFreq"].isin(["Yearly", "Monthly", "Weekly"]), "NormalizedAnnualCompensation"] = df["CompTotal"]

In [48]:
df["NormalizedAnnualCompensation"].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).